<div *ngIf="article" class="article">
  <div class="article-title">
    <a class="article-link" href="{{ article.url }}" target="_blank">{{ article.title }}</a>
    <span class="article-source-link-container">
      <a class="article-source-link" href="{{ article.source.url }}" target="_blank">({{ article.source.source }})</a>
    </span>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="primary" selected *ngFor="let category of article.categories">{{ category.category }}</mat-chip>
    </mat-chip-list>
    <span class="spacer"></span>
    <mat-chip-list *ngIf="article.tags">
      <mat-chip color="accent" selected *ngFor="let tag of article.tags">{{ tag.name }}</mat-chip>
    </mat-chip-list>
  </div>
  <div>
    <span>Posted on {{ article.created_at*1000 | date:'EEEE, MMMM d, yyyy' }} at {{ article.created_at*1000 | date:'HH:mm' }}</span>
  </div>
</div>
