.article {
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 1.5em 0em;
}

.article-title {
    display: flex;
    flex-wrap: wrap;
    margin: 0em 0em 0em 0em;
}

.article a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    align-self: center;
}

.article a:visited {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.article-source-link-container {
    margin: 0em 0.5em 0em 0.5em;
    align-self: center;
}

.article-source-link-container a{
    font-weight: normal;
    font-style: italic;
    font-size: 0.8em;
}

.spacer {
    margin: 0em 0.5em 0em 0em;
    padding: 0em;
}
